<app-header></app-header>
<!-- Home Section -->
<section id="home" class="container mx-auto px-12 py-32 flex flex-col items-center">
  <div class="w-full mb-16">
    <img src="assets/home.png" alt="Joanna Karpowicz's Anubis Series" class="w-full h-auto rounded-lg shadow-lg object-cover">
  </div>

  <div class="text-center text-gray-800">
    <h2 class="text-4xl font-semibold mb-8">Joanna Karpowicz</h2>
    <p class="mb-8 leading-relaxed text-lg">
      Can the topic of death be tamed? To replace fear with a sense of closeness and peace? Joanna Karpowicz attempts this in her painting cycle with Anubis. Her nostalgic images are a source of positive emotions for many. The figure from myths enters our world, becoming our friend.
    </p>
    <p class="font-bold text-xl">
      Discover collector’s prints from Joanna Karpowicz’s Anubis series.
    </p>
  </div>
</section>

<!-- Featured Section -->
<section id="featured">
  <app-featured></app-featured>
</section>

<!-- Gallery Section -->
<section id="gallery">
  <app-gallery></app-gallery>
</section>

<!-- Footer Section -->
<footer id="contact">
  <app-footer></app-footer>
</footer>

<router-outlet />
